<h3>Welcome</h3>







<div class="footer">
  Created by <a href="https://www.facebook.com/mintuhouse" target="_blank">Hasan Kumar</a> for updating and retrieving simple data for IOT devices at <a href="https://www.facebook.com/makersasylum/" target="_blank">Maker's Asylum</a>
</div>
